
@media screen and (max-width: 1024px){

}

/* ---------------------------------------- */

@media screen and (max-width: 922px){

.nav-items{
    width: 300px;
}

.intro-section{
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.left-section{
    display: flex;
    align-items: center;
    
}
}
/* -------------------------------------------------- */
@media screen and (max-width: 700px){

.nav-items{
    display: none;
}
}

/* -------------------------------------------------- */
@media screen and (max-width: 416px){
body{
    margin: 20px 20px;
}

nav{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}         

.signin-btn{
    margin-top: 40px;
}

.left-section h1{
    align-items: center;
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    color: #3E4794;
    margin-bottom: 50px;
}

.left-section h4{
    margin: 0px 0 70px 0;
    width: 300px;
    font-size: 15px;
    word-wrap: break-word;
    color: #758283;
    font-family: 'Montserrat'; 
}

.learn-more-btn {
    width: 150px;
    height: 55px;
    border-radius: 50px;
    background: linear-gradient(to right, #965CF2,#FF8ADC);
    border: none;
    color: #fff;
    cursor: pointer;
    font-family: 'Montserrat';
    font-size: 15px;
    font-weight: 300;
    letter-spacing: 1px;        
    margin-bottom: 30px;
}
}
